boto3==1.42.19
botocore==1.42.19


typing-inspection==0.4.2
typing_extensions==4.15.0
pydantic==2.12.5
pydantic-extra-types==2.10.6
pydantic-settings==2.12.0
pydantic_core==2.41.5

fastapi==0.128.0
fastapi-cli==0.0.20
fastapi-cloud-cli==0.8.0
fastar==0.8.0
fastjsonschema==2.21.2

letstayinn-package
